#root {
  height: '100%';
  width: '100%';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:active,
  :focus {
    outline: none !important;
  }
}

body,
html {
  margin: 0;
  height: 100%;
  display: block;
  line-height: 1.5;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

link,
a {
  color: inherit;
  text-decoration: 'none';
  cursor: pointer;

  &:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  &:--active {
    color: inherit;
    background-color: inherit;
  }
  &:visited {
    color: inherit;
    text-decoration: none;
  }
  &:focus {
    color: inherit;
    background-color: inherit;
  }
}

span {
  display: inline-block;
  font-weight: inherit;
}

label {
  margin-bottom: 0;
}

code {
  white-space: nowrap;
  border-radius: 10px;
  padding: 0 8px 1px 8px;
}

.box-shadow {
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.15),
    0 0px 5px 0 rgba(0, 0, 0, 0.15);
}

.box-shadow-t {
  box-shadow: 0 -1px 0px 0px rgba(0, 0, 0, 0.15), 0 -2px 5px 0 rgba(0, 0, 0, 0.15),
    0px -1px 5px 0 rgba(0, 0, 0, 0.15);
}

/*
 *  Custom scroll
 */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border: 2px solid rgb(141, 141, 141);
}

@import 'common.scss';
@import 'loading.scss';
