.form-signin,
.form-register {
  max-width: 25rem;
  width: 100%;
  margin: auto;
  padding: 1rem;
  margin-top: 2rem;

  .profile-img-card {
    width: 120px;
    height: 120px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .title-login,
  .title-register {
    font-size: 1.4rem;
    text-align: center;
    padding: 10px 0;
    font-weight: 400 !important;
  }

  .register {
    margin: 15px 10px 0;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    Link {
      text-decoration: underline;
    }
  }
}
