ul.list-item-task {
  display: block;
  list-style: none;
  font-size: 0.95rem;

  li.task-item {
    text-decoration: none;
    margin: 0.5rem 0;
    // padding: 0.4rem 0;

    span.status-item {
      padding: 0.15rem 0.5rem;
      font-weight: 400;
    }
  }
}
.title-item {
  width: 80%;
  min-width: 100px;
  font-weight: normal;
  padding: 0 1rem;
  text-overflow: ellipsis;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.icon-item {
  display: flex;
  align-items: flex-end;
  cursor: pointer !important;
  justify-content: space-between;
}

.no-data {
  height: 200px;
  position: relative;
  h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.selection {
  display: flex;
  justify-content: start;
  align-items: baseline;
  .selection-page {
    min-width: 60px;
  }
}

.toggle-item {
  text-decoration: line-through;
}
